#industry{
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
    border: 1px solid grey;
    position: relative;
}

#industry p{
   text-align: center;
    font-weight: bold;
    color: black;
}
#industry a{
    width: 145px;
}

#cool-pic{
    background: url('../assets/images/home-page/cool.jpg') no-repeat;
    width: 100%;
    background-size: 100%;
    height: 400px;
}

#text h2{
    color:black;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    background-color: white;

}


#container{
    width: 100%;
    display: block;
    margin: auto;
}

.content-box{
    display: inline-flex;
    width: 80%;
    margin: auto;
}

.content{
    width: 90%;
    text-align: center;
    background-color: grey;
    color: #fff;
}

.content img{
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 



@media screen and (max-width: 600px){
    #industry{
        overflow-x:scroll;
        overflow-y: hidden;
        padding-top: 50px;
    }

    #cool-pic{
        background: url('../assets/images/home-page/cool.jpg') no-repeat;
        width: 100%;
        background-size: 100%;
        height: 250px;
    }
    
    #text h2{
        font-size: 25px;
    
    }

    .content img{
        width: 100%;
        height: 300px;
    }

    .content-box{
        display: block;
    }


    
}