#industry{
    display: inline-flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid grey;
    position: relative;
}

#industry p{
   text-align: center;
    font-weight: bold;
    color: black;
}
#industry a{
    width: 145px;
}

#cool-pic{
    background: url('../assets/images/home-page/cool.jpg') no-repeat;
    width: 100%;
    background-size: 100%;
    height: 400px;
}

#text h2{
    color:black;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    background-color: white;

}


#container{
    width: 100%;
    display: block;
    background-color: green;
}

.content-box{
    padding-top: 15px;
    display: inline-flex;
    width: 100%;
    padding-bottom: 15px;
}

.content{
    width: 48%;
    margin: auto;
    text-align: center;
    background-color: grey;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.content img{
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content p{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
 
.content button{
    width:150px;
    height: 40px;
    background-color: grey;
    border: 3px yellow solid;
    color: yellow;
    font-weight: bolder;
}

.content button:hover{
    background-color: yellow;
    color: black;
}

footer{
    bottom: 0%;
    position: relative;
    background-color: gray;
}

#footer-content{
    width: 80%;
    margin: auto;
    padding: 15px;
    text-align: center;
}

#footer-content h2{
    color: green;
}

#footer-content button{
    width:150px;
    height: 40px;
    background-color: grey;
    border: 3px green solid;
    color: green;
    font-weight: bolder;
}

#footer-content button:hover{
    color: black;
    background-color: green;
}

@media screen and (max-width: 600px){
    #industry{
        overflow-x:scroll;
        overflow-y: hidden;
        padding-top: 50px;
    }

    #cool-pic{
        background: url('../assets/images/home-page/cool.jpg') no-repeat;
        width: 100%;
        background-size: 100%;
        height: 250px;
    }
    
    #text h2{
        font-size: 25px;
    
    }

    .content img{
        width: 100%;
        height: 300px;
    }

    .content-box{
        display: block;
        padding-bottom: 5px;
        padding-top: 15px;
    }

    .content{
        width: 90%;
    }


    
}